body{
    font-size:20px;
    font-family:Tahoma;
}
/*@media screen and (min-width: 500px) and (max-width: 1000px){
    body{
        background-color:red;
    }
}*/
/*@media screen and (min-height: 300px) and (max-height: 500px){
    body{
        background-color:blue;
    }
}*/
/*@media print and (orientation: portrait){
    *{
        margin:0;
        padding:0;
    }
    body {
        color: green;
        text-align:justify;
        width:50%;
    }
}*/
