* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: black;
    padding: 1rem;
    /* position: relative;
    top: 10px;
    right: 10px;
    left: 10px; */

    /* position: absolute;
    top: 10px;
    left: 10px; */

    /* position: fixed;
    width: 100%;
    top: 0; */
}


.list {
    display: flex;
}

.list-item {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: 0.5s;
    font-size: 1.5rem;
    font-weight: bold;
}

.list-item:hover {
    color: black;
    background-color: white;
}

.header {
    background-color: rgb(66, 154, 255);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
}

.box {
    padding: 1rem;
    color: white;
    text-align: center;
}

.title-box {
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
}

.text-box {
    font-size: 1.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-family: sans-serif;
}

.search-box {
    display: flex;
    justify-content: center;
}

.search {
    width: 500px;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    border: none;
    margin-left: 0.5rem;
}

.btn-search {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgb(30, 63, 212);
    color: white;
    cursor: pointer;
}

.login {
    padding: 1rem;
}

.label {
    width: 100px;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
}

.input {
    width: 200px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: none;
}

.label-checkbox {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.submit-btn {
    color: white;
    background-color: blue;
    padding: 0.5rem 1rem;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
}

.section {
    width: 1720px;
    margin: 1rem auto;
    display: flex;
}

.aside {
    width: 20%;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    height: fit-content;
}

.aside-title {
    background-color: #429AFF;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: sans-serif;
}

.aside-list {
    list-style-position: inside;
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(99, 99, 99);
    font-family: sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    list-style-type: disc;
}

.aside-list2 {
    padding: 0.5rem 0.7rem 0;
    list-style-type: disc;
}

.aside-list3 {
    padding: 0.5rem 0.7rem;
    list-style-type: disc;
}

.list-border {
    border: none;
}

.article {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
    width: 80%;
}

.article-title {
    width: 100%;
    border-bottom: 1px dotted black;
    padding-bottom: 1rem;
}

.card {
    width: 440px;
    border: 1px solid;
    margin: 1rem 0.1rem;
    border-radius: 10px 10px 5px 5px;
    display: inline-block;
}

.image-card {
    border-radius: 10px;
}

.body-card {
    padding: 1rem;
}

.card-title {
    margin: 0.5rem 0;
}

.card-text {
    text-align: justify;

}

.card-btn {
    border-top: 1px solid;
    margin: 0.5rem 0;
}

.card-btn button {
    margin: 0.5rem 1rem 0;
    padding: 0.3rem .5rem;
    border: none;
    background-color: #429AFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
