body{
    font-size: 1.5rem;
}
p{
    background-color: rgb(20, 129, 201);
    color: white;
    margin: 1rem;
}

/* pseudo elements */

/* p::first-letter{
    color: red;
    margin-left: 2rem;
    font-size: 2rem;
} */

/* p::first-line{
    color: red;
    font-family: sans-serif;
    font-size: 2rem;
} */

*::selection{
    background-color: red;
}

/* p::after{
    content: '$';
}

p::before{
    content: '$';
} */
