body{
    direction:rtl;	
    font-size: 14px;
    font-family:Tahoma;
    margin:0;
}
#header{
	background-color: #348;
	padding: 10px 20px;
    color:white;
}
#post{
    margin: 0 20px;
	border-bottom: 1px solid #348;
    text-align:justify;
}
#sidebar{
	margin: 0 20px;
}
@media screen and (min-width: 768px){
    #header , #content{
        width:720px;
        margin:0 auto;
    }
    #post{
        float:right;
        margin:0;
        width:75%;
        padding-left:5%;
        border-bottom: none;
    }
    #sidebar{
        float:right;
        margin:0;
        width:20%;
    }
}
@media screen and (min-width: 1024px){
    #header , #content{
        width:960px;
    }
}